body {
    background-color: #efefef;
}

.acont {
    min-height: 100vh;
}

.abimgbg {
    position: absolute;
    right: 0;
    height: 100vh;
    z-index: -1;
    opacity: 0.05;
}

.headerAbout {
    font-family: 'Caveat', cursive;
    font-size: 3.5rem;
    color: #123d20;
    text-align: center;
    margin-top: 5rem;
}

.headerContact {
    font-family: 'Caveat', cursive;
    font-size: 350%;
    color: #efefef;
    text-align: center;
    margin-top: 3rem;
}

.rowASC {
    margin-top: 10%;
}

.story {
    text-align: justify;
    color: #123d20;
    margin-right: 2rem;
    font-size: large;
    font-weight: 400;
}

.logoAboutASC {
    display: block;
    margin: auto;
    height: 65%;
}









/* CSS Ndajadi Dipake */

/* 
.imgbg {
    z-index: -1;
    opacity: 0.05;
    height: 75%;
    
}

.row {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.col {
    margin-top: 3rem;
}

.cont {
    height: 100vh;
    align-items: center;
    text-align: right;
}

.logoAbout {
    margin-top: 2rem;
    height: 12rem;
    display: block;
    margin: auto;
    padding-top: 1rem;
}

.story {
    text-align: justify;
    margin-right: 4rem;
    font-size: large;
    font-weight: 400;
}

.headerAbout {
    text-align: center;
    box-sizing: border-box;
    padding-top: 6rem;
} */